[user]
    name = Ivan Kusalic
    email = ivan@ikusalic.com
[core]
    excludesfile = ~/.gitignore_global
    editor = /Applications/MacVim.app/Contents/MacOS/Vim
[github]
    user = ikusalic
[color]
    branch = auto
    diff = auto
    status = auto
[grep]
    lineNumber = true
[alias]
    a = add -u :/
    aa = add .
    aaa = !git add -u :/ && git add .
    ap = add -p
    bav = !git branch -av && echo "tags:" && git tag
    c = commit
    ca = commit -a --amend
    cl = clean -i
    cm = commit -am
    co = checkout
    d = diff
    d1 = "!show_with_stats() { !( git show "$1" --stat --color && git show "$1" --format=format: --color ) | less --quit-if-one-screen --RAW-CONTROL-CHARS --no-init; }; show_with_stats" HEAD
    dc = diff --cached
    ds = diff --stat
    ds1 = show --stat HEAD
    dt = difftool
    dw = diff --color-words
    fap = fetch --all --prune
    fbs = !git fetch --all --prune && git fetch --tags && git branch -av && echo "tags:" && git tag | tail && echo && git log -1 && echo && git status
    fall = !git fetch --all --prune && git fetch --tags && git branch -av && echo "tags:" && git tag | tail && echo && git log -1 && echo && git status && git stash && git pull --rebase && git stash pop || true
    g =  grep -n
    g1 = reset HEAD~
    gf1 = reset --hard HEAD~
    godown = !git tag move-mark && git reset --hard @~
    goup = !git reset --hard move-mark && git tag -d move-mark
    gt =  grep -n -E 'TODO|FIXME|XXX|NOTE|BUG|HACK|TODEL|OPTIMIZE|DEBUG'
    h = rev-parse HEAD
    l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) [%an%C(reset)] %C(white)%s%C(reset) %C(dim white)%C(bold yellow)%d%C(reset)' -7
    l1 = log -1
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) [%an%C(reset)] %C(white)%s%C(reset) %C(dim white)%C(bold yellow)%d%C(reset)'
    lga = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) [%an%C(reset)] %C(white)%s%C(reset) %C(dim white)%C(bold yellow)%d%C(reset)' --all
    lgag = !git log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) [%an%C(reset)] %C(white)%s%C(reset) %C(dim white)%C(bold yellow)%d%C(reset)' --all | grep -i
    lgg = !git log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) [%an%C(reset)] %C(white)%s%C(reset) %C(dim white)%C(bold yellow)%d%C(reset)' | grep -i
    ll = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) [%an%C(reset)] %C(white)%s%C(reset) %C(dim white)%C(bold yellow)%d%C(reset)' --all -7
    ma = merge --abort
    p = push
    po = push origin
    pom = push origin master
    pomf = push origin +master
    ptf = push tmp +master
    purr = !git fetch --all --prune && git stash && git pull --rebase && git stash pop || true
    r = rebase
    r1 = reset HEAD~1
    ra = rebase --abort
    rc = rebase --continue
    ri = rebase -i
    ri7 = rebase -i HEAD~7
    rem = remote -v
    rom = rebase origin/master
    s = status
    sh = "!show_with_stats() { !( git show "$1" --stat --color && git show "$1" --format=format: --color ) | less --quit-if-one-screen --RAW-CONTROL-CHARS --no-init; }; show_with_stats"
    sl = stash list
    sp = stash pop
    st = stash
    shg = "!commit_list=$( git log --format=format:'%h %s' | grep "$1" | cut -d' ' -f 1 | gtac ); !( for commit in $commit_list; do !( git show "$commit" --stat --color && git show "$commit" --format=format: --color ) | less --RAW-CONTROL-CHARS --no-init; done ); true"
    tmp = remote add tmp git@github.com:ikusalic/tmp.git
    uf = reset HEAD --
    wf = checkout --
    wfa = !git status --porcelain | grep -E "^.M" | awk '{ print $2 }' | xargs git checkout --
    wipe = reset --hard HEAD
[help]
    autocorrect = 1
[merge]
    conflictstyle = diff3
